@charset "UTF-8";

@font-face {
  font-family: "comfortaa-3d";
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "kablammo-3d";
  src: url(../fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "merriweather-3d";
  src: url(../fonts/merriweather-regular-italic.woff2);
}

footer {
  background-color: rgb(124, 155, 28);
  padding: 5px;
}

.contact span {
  display: inline-block;
  /* border: 1px solid black; */
  margin: 2px 8px;
  /* padding-top: 5px; */
}

.footer-link {
  font-size: 13px;
  padding-top: 7px;
}

.messenger-links img {
  padding: 5px;
}

.hero__content-touch-large {
  height: 100%;
  background-image: url(/img/house/1_retina.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero__content-touch-large .hero__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(var(--index) * 5);
}

.hero__content-touch-large .hero__inner-content .touch-large__logo {
  width: calc(var(--index) * 13);
  height: calc(var(--index) * 13);
}

.hero__content-touch-large .hero__inner-content .touch-large__logo img {
  width: 100%;
}

.hero__content-touch-large .hero__inner-content .touch-large__content {
  font-size: calc(var(--index) * 3);
  text-align: center;
  line-height: calc(var(--index) * 3.5);
  margin: 0 calc(var(--index) * 7);
}

.hero__content-touch-large .hero__inner-content .touch-large__content h1 {
  text-shadow: 0 0 7px rgb(2, 56, 2);
}

/* Большие картинки */

.large-img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.large-img.open {
  opacity: 1;
  visibility: visible;
}

.large-img__card {
  width: 70%;
  border-radius: calc(var(--index) * 3);
  overflow: hidden;
}

.large-img__card img {
  width: 100%;
  height: auto;
}

.messenger-links img {
  padding: 5px;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.hero {
  background-color: black;
  font-family: "comfortaa-3d";
  overflow: hidden;
  height: 100vh;
}

.hero__content-parallax {
  -webkit-perspective: 1200px;
          perspective: 1200px;
  position: relative;
}

.hero__logo {
  width: calc(var(--index) * 13);
  height: calc(var(--index) * 13);
  position: absolute;
  top: calc(var(--index) * 2);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
  margin: 0 auto;
}

.hero__logo img {
  width: 100%;
}

.hero__layers {
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(var(--move-y)) rotateY(var(--move-x));
          transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  -webkit-perspective-origin: bottom center;
          perspective-origin: bottom center;
  will-change: transform;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.layers__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  font-size: calc(var(--index) * 3.5);
  text-align: center;
  line-height: calc(var(--index) * 3.5);
}

.layer-1 {
  -webkit-transform: translateZ(-55px) translateY(10px) scale(0.85);
          transform: translateZ(-55px) translateY(10px) scale(0.85);
}

.layer-12 {
  -webkit-transform: translateZ(-15px) scale(0.85);
          transform: translateZ(-15px) scale(0.85);
}

.layer-13 {
  -webkit-transform: translateZ(-10px) translateY(10px) scale(0.84);
          transform: translateZ(-10px) translateY(10px) scale(0.84);
}

.layer-2 {
  -webkit-transform: translateZ(80px) translateX(-5px) translateY(70px) translateX(-10px) scale(0.7);
          transform: translateZ(80px) translateX(-5px) translateY(70px) translateX(-10px) scale(0.7);
}

.layer-3 {
  -webkit-transform: translateZ(180px) scale(0.88);
          transform: translateZ(180px) scale(0.88);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layer-4 {
  -webkit-transform: translateZ(190px) scale(0.9);
          transform: translateZ(190px) scale(0.9);
}

.layer-5 {
  -webkit-transform: translateZ(300px) scale(0.9);
          transform: translateZ(300px) scale(0.9);
}

.layer-6 {
  -webkit-transform: translateZ(380px);
          transform: translateZ(380px);
}

.layer-4,
.layer-5,
.layer-6 {
  pointer-events: none;
}

@font-face {
  font-family: "comfortaa-3d";
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "kablammo-3d";
  src: url(../fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "merriweather-3d";
  src: url(../fonts/merriweather-regular-italic.woff2);
}

@font-face {
  font-family: "comfortaa-3d";
  src: url(../fonts/Comfortaa-VariableFont_wght.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Caveat";
  src: url(../fonts/Caveat-VariableFont_wght.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Neucha";
  src: url(../fonts/Neucha-Regular.woff2);
  font-weight: 400;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: .5s cubic-besier(.05, .5, 0, 1);
}

body {
  font-size: 30px;
  color: black;
}

header {
  background-color: rgb(124, 155, 28);
  padding: 5px 0;
  position: sticky;
  top: 0;
  left: 0;
}

a {
  color: #fff;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(var(--index) * 1.1);
  gap: calc(var(--index) * 2);
}

h1 {
  margin-top: calc(var(--index) * -5);
}

.wrapper {
  width: 100%;
  font-family: "Caveat", cursive;
  font-size: 30px;
  color: white;
}

.container {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  /* border: 1px solid red; */
  width: 220px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.programma {
  background-color: rgb(124, 155, 28);
  background-size: 200px;
  background-blend-mode: screen;
}

.programma-container {
  /* border: 1px solid black; */
  /* width: 70%; */
  background-color: rgba(113, 143, 22, 0.6);
  padding: calc(var(--index) * 3);
}

.title-text-light {
  background-color: rgb(217, 245, 133);
  padding: 5px 0 3px;
  font-size: 25px;
  color: rgb(124, 155, 28);
  font-family: "Neucha", cursive;
}

.list .container {
  padding: 15px;
}

.list__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.program-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 20px;
}

.col-image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: aqua;
  -webkit-box-shadow: 0 0 15px 5px white;
          box-shadow: 0 0 15px 5px white;
  overflow: hidden;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.col-image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 20px 10px white;
          box-shadow: 0 0 20px 10px white;
  cursor: pointer;
}

.col-image img {
  height: 100%;
}

.col-image.opened {
  z-index: 2;
  width: 400px;
  height: 300px;
  border-radius: 0;
  overflow: hidden;
  margin: 100px;
  /* position: absolute;
  top: 10%;
  left: 40%; */
}

.col-text {
  /* border: 1px solid black; */
  font-family: "Neucha", cursive;
  font-size: 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: white;
}

/* Календарь */

.сalendar {
  max-width: 100%;
  /* font: monospace; */
  /* line-height: 1.2em; */
  font-size: 25px;
  background-color: rgb(217, 245, 133);
  padding: 10px 0;
  /* text-align: center; */
  margin: 0 auto;
}

#calendar thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}

#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}

#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}

#calendar tbody td {
  color: rgb(44, 86, 122);
  cursor: pointer;
}

.clicked {
  background-color: rgb(168, 3, 3);
}

#calendar tbody td:nth-child(n+6),
#calendar .holiday {
  color: rgb(168, 3, 3);
}

#calendar tbody td.today {
  background: rgb(12, 92, 1);
  color: #fff;
}

.сalendar .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.calendar-text {
  font-family: "Neucha", cursive;
  font-size: 20px;
  color: rgb(124, 155, 28);
  margin-bottom: 20px;
}

.calendar-text p {
  line-height: 1.3;
}

.weather {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.weather.open {
  opacity: 1;
  visibility: visible;
}

.viget {
  max-width: 600px;
  color: azure;
  background-color: rgb(80, 105, 3);
  border-radius: 10px;
  margin: 100px auto;
  font-family: "Comforter", cursive;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  -webkit-box-shadow: 0 0 20px 5px white;
          box-shadow: 0 0 20px 5px white;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header-viget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.weather__small {
  font-size: 17px;
  padding-left: 10px;
  font-style: italic;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  /* border: 1px solid black; */
}

.loading img {
  width: 100px;
}

.icon {
  width: 70px;
}

.city {
  font-size: 35px;
  font-weight: 900;
}

.temper::after {
  content: "0";
  font-size: 0.5em;
  vertical-align: top;
}

.giz {
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.giz:hover {
  -webkit-box-shadow: rgb(166, 184, 113) 0 0 25px;
          box-shadow: rgb(166, 184, 113) 0 0 25px;
}

.weather-button {
  background-color: rgb(127, 164, 189);
  padding: 20px;
}

.time__weather {
  display: inline-block;
  font-family: "Neucha", cursive;
  display: inline-block;
  font-size: 30px;
  color: rgb(44, 86, 122);
  /* transform-origin: bottom left; */
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  padding-left: 7px;
  position: relative;
}

.time__weather::after {
  content: "";
  background-image: url(../img/cloud.gif);
  background-size: 60px;
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 60px;
  top: -10px;
  right: 10px;
  -webkit-transition: translate 0.4s, opacity 0.4s;
  transition: translate 0.4s, opacity 0.4s;
}

.time__weather:hover::after {
  -webkit-transform: translate(0, -30px);
      -ms-transform: translate(0, -30px);
          transform: translate(0, -30px);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-alex {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer-olga {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer-link {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 13px;
  }

  .hero__content {
    font-size: calc(var(--index) * 3.5);
    text-align: center;
    line-height: calc(var(--index) * 4);
    margin: 0 calc(var(--index) * 5);
  }

  .nav-menu .container {
    width: 95%;
  }

  .logo {
    display: none;
  }

  .container {
    width: 90%;
  }

  .title-text-dark {
    padding: 8px 0;
    font-size: 30px;
  }

  .title-text-light {
    padding: 5px 0 3px;
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .contact span {
    font-size: 22px;
  }

  footer .container {
    width: 95%;
  }

  .hero__content-touch-large {
    background-image: url(/img/house/1_phone.webp);
    gap: calc(var(--index) * 4);
  }

  .viget {
    max-width: 80%;
  }
}