@font-face {
	font-family: "comfortaa-3d";
	src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "kablammo-3d";
	src: url(../fonts/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'merriweather-3d';
	src: url(../fonts/merriweather-regular-italic.woff2);
}