footer{
	background-color: rgb(124,155,28);
	padding: 5px;
}

.contact span{
	display: inline-block;
		/* border: 1px solid black; */
	margin: 2px 8px;
	/* padding-top: 5px; */
}

.footer-link{
	font-size: 13px;
	padding-top: 7px;
}

.messenger-links img{
    padding: 5px;
}

@media screen and (max-width:768px){
	footer .row{
		flex-direction: column;
	}

	.footer-alex{
		order: 1;
	}
	
	.footer-olga{
		order: 2;
	}
	
	.footer-link{
		order: 3;
		font-size: 13px;
	}
}

@media screen and (max-width:425px){

	.contact span{
		font-size: 22px;
	}

	footer .container {
		width: 95%;
	}
}