/* Большие картинки */
.large-img{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.large-img.open{
    opacity: 1;
    visibility: visible;
}

.large-img__card{
    width: 70%;
    height: auto;
    margin: calc(var(--index) * 3) auto;
    border-radius: calc(var(--index) * 3);
    overflow: hidden;
}

.large-img__card img{
    width: 100%;
    height: auto;
}

.messenger-links img{
    padding: 5px;
}
